/* ===========================
   CategoryList (lista konténer)
   =========================== */

.category-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 230px;
  padding: 0.75rem 0.5rem;
  box-sizing: border-box;
}

/* kisebb képernyőn ne foglaljon túl sok helyet oldalról */
@media (max-width: 900px) {
  .category-list {
    width: 100%;
    max-width: 340px;
    margin-bottom: 1rem;
  }
}
