.ingredients-box {
  margin-top: 1rem;
  background: #d07c4963;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;

  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    max-height 0.5s ease;
}

.ingredients-box.show {
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}

.ingredients-box h4 {
  margin: 0 0 0.5rem 0;
}

.ingredients-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients-box li {
  margin-bottom: 0.3rem;
}

.ingredient-row {
  display: flex;
  flex-direction: row-reverse;   /* checkbox jobb oldalon */
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.ingredient-row input[type="checkbox"] {
  cursor: pointer;
}
