.recipe-card {
  padding: 1rem;
  background: #4387e0;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 350px;
}

.recipe-card.selected-card {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  transform: scale(1.03);
  transition: all 0.4s ease;
}


.recipe-card:hover {
  border-color: #000;
  box-shadow: 0 10px 20px -8px rgba(103, 58, 184, 0.4);
}

.recipe-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .recipe-card h3 {
    color: #fff;
  }

  .recipe-card p {
    color: #ddd;
  }
}

.recipe-card.animate-back {
  position: fixed;
  top: auto;
  left: auto;
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: all 0.4s ease;
}


